.imagen-lateral {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
}

.sombra-form {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.logo-hospital {
  height: 40px;
  width: auto;      
  border-radius: 8px; 
}

.navbar .btn-outline-light {
  border: none;       
  transition: background-color 0.2s;
}

.navbar .btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.hero-section {
  background: linear-gradient(rgba(0, 123, 255, 0.7), rgba(0, 123, 255, 0.7));
  color: white;
  padding: 100px 20px;
  border-radius: 10px;
  background-color: #007bff; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-section img {
  max-height: 100px;
  margin-bottom: 20px;
}

.option-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}